<h2 style="text-align: center; margin-top: 30px;">Instalacioni kablovi</h2>

<div style="width: 65%; margin-left: 17.5%;">
  <div *ngFor="let kabl of konacniKablovi" class="card mb-3" >
    <img src="{{ kabl.slika }}" class="card-img-top" alt="..." style="width: 20rem; margin-left: 20px; margin-top: 20px;">
    <div class="card-body">
      <h2 class="card-title">{{ kabl.naziv }}</h2>
      <h5 class="card-title">Opis</h5>
      <p class="card-text">{{ kabl.opis }}</p>
      <h5 class="card-title">Konstrukcija</h5>
      <p class="card-text">{{ kabl.konstrukcija }}</p>
      <h5 class="card-title">Primena</h5>
      <p class="card-text">{{ kabl.primena }}</p>
      <button href="#" class="btn btn-primary">Dodaj u korpu </button>
    </div>
  </div>
</div>

