<div class="card my-3 shadow p-4" *ngIf="kabloviUKorpi[0]">
    <h2>Korpa:</h2>
    <div *ngFor="let kabl of kabloviUKorpi; index as i">
      {{ i + 1 + "." }} {{ kabl.naziv }}
      <button
        #removeKablButtion
        (click)="removeKabl(removeKablButtion)"
        class="btn btn-danger custom-remove"
        value="{{ kabl.id }}"
      >
        X
      </button>
    </div>
    <p>Cena: {{cena}}</p>
    <button (click)="onClick()" class="btn btn-success custom">Rezerviši</button>
  </div>